* {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  /* Allow vertical scroll, prevent horizontal overflow */
  overflow-x: hidden;
  /* background: #0b0b12; */
  /* color: #e6e6e6; */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #000;
  box-shadow: 24;
  padding: 24px;
}
